@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

:root {
  --color-brand-yellow: #f2ff93;
  --color-brand-black: #0f0f0f;
  --color-brand-white: #ffffff;
  --color-brand-gray: #fafaf5;
  --color-brand-text: #1a1a1a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-brand-white);
  color: var(--color-brand-text);
  overflow-x: hidden;
}
