@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/raleway/400.css";
@import "@fontsource/raleway/500.css";
@import "@fontsource/raleway/600.css";
@import "@fontsource/raleway/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-yellow: #f2ff93;
  --color-brand-black: #0f0f0f;
  --color-brand-white: #ffffff;
  --color-brand-gray: #fafaf5;
  --color-brand-text: #1a1a1a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-brand-white);
  color: var(--color-brand-text);
  overflow-x: hidden;
}
